<!DOCTYPE html>

<html>
   <head>
      <title>Timestamp Microservice</title>
      <!-- <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png" type="image/x-icon"/> -->
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
      <script src="index.js" rel="javascript" type="text/javascript"></script>
   </head>

   <body>
    <h1>tStamp Microservice</h1>
    <hr />
    <div class="container">
      <h3>Server-side Timestamp:</h3>
      <ul>
        <li><a href="api/time" target="_blank">[unix]</a></li> <!--/api/2015-12-25-->
        <li><a href="api/date" target="_blank">[utc]</a></li> <!--/api/1451001600000-->
        <li><a href="api/timestamp" target="_blank">[timestamp]</a></li>
      </ul>

    </div>
    <div class="footer">
      <p>
        Coded by TechServ BIT using a <a href="https://www.freecodecamp.org/">freeCodeCamp.org</a> template
      </p>
    </div>
    <div id="demo">DEMO</div>
    <script src="main.js">
      
    </script>
  </body>
</html>
